body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: rgba(242, 183, 5, 0.3);
  margin: 0;
}

.container {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.template-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 18rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}
* {
  margin:0;
  padding:0;
  font-family: 'Arvo';
}

body{
  background-color: #ffffba;
}

.main{
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
h1{
  text-align:center;
  text-transform: uppercase;
  color: #FFCAB1; 
  font-size: 4rem;
}

.roller{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #119DA4;
}


#spare-time{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #F78764;
  
  
  
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}