body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background-color: rgba(242, 183, 5, 0.3);
  margin: 0;
}

.container {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.template-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 18rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}