body {
  background-color: #e493d0;
}

/*hello部分*/


.container {
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.template-footer {
  
  position: relative;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 18rem;
  border-radius: 5px 0 0 0;
  background-color: #ffffba;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}

/*滚动字幕部分*/
* {
  margin:0;
  padding:0;
  font-family: 'Arvo';
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
  
  background-image: 
    radial-gradient(closest-side, rgb(238,156,167), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgb(247, 121, 125), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgb(255,255,186), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(170, 142, 245), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgb(248, 192, 147), rgba(248, 192, 147, 0));
  background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
}
body::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


@keyframes movement {
  0%, 100% {
    background-size: 
      130vmax 130vmax,
      80vmax 80vmax,
      90vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }
  25% {
    background-size: 
      100vmax 100vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      60vmax 60vmax;
    background-position:
      -60vmax -90vmax,
      50vmax -40vmax,
      0vmax -20vmax,
      -40vmax -20vmax,
      40vmax 60vmax;
  }
  50% {
    background-size: 
      80vmax 80vmax,
      110vmax 110vmax,
      80vmax 80vmax,
      60vmax 60vmax,
      80vmax 80vmax;
    background-position:
      -50vmax -70vmax,
      40vmax -30vmax,
      10vmax 0vmax,
      20vmax 10vmax,
      30vmax 70vmax;
  }
  75% {
    background-size: 
      90vmax 90vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -50vmax -40vmax,
      50vmax -30vmax,
      20vmax 0vmax,
      -10vmax 10vmax,
      40vmax 60vmax;
  }
}

h1{
  text-align:center;
  text-transform: uppercase;
  color: #FFCAB1; 
  font-size: 8rem;
}

.roller{
  height: 8.25rem;
  line-height: 8rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #119DA4;
}


#spare-time{
  font-size: 8rem;
  font-style: italic;
  letter-spacing: 2rem;
  margin-top: 0;
  color: #F78764;
  
  
  
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -8rem;    
  }
  50%{
    top: -16rem;
  }
  72.5%{
    top: -25rem;
  }
}

/*打字部分*/
:root{
  font-size: 20px;
}
#typing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-size: 6rem;
  margin: 0;
  padding: 0;
  font-family: monospace;
  position: relative;
 } 



h2.ended::after {
  animation: 1.1s cursor steps(2, jump-none) infinite;
}

@keyframes cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 span {
  --delay: 10s;
  
  display: inline-block;
  overflow: hidden;
  width: 0ch;
  animation: 0.1s text-in ease-in-out forwards;
  animation-delay: var(--delay);
}

@keyframes text-in {
  from {
    width: 0ch;
  }
  to {
    width: 1ch;
  }
}

/*music dance*/

.play-music {
  display: flex;
  position: absolute;
  left: 50px;
  z-index: 50;
  top: 50px;
}

.music-animation {
  display: flex;
  margin-right: 10px;
  align-items: flex-end;
  position: relative;
  top: -5px;
}
.music-animation.on .bar {
  -webkit-animation: bar 1.2s infinite;
          animation: bar 1.2s infinite;
}
.music-animation.on .bar2 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.music-animation.on .bar3 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.music-animation.on .bar4 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.music-animation.on .bar5 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.music-toggle {
  cursor: pointer;
  font-size: 37px;
  position: relative;
}
.music-toggle:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #000;
  position: absolute;
  transition: 0.2s;
}
.music-toggle:hover:after {
  width: 100%;
}

.bar {
  width: 3px;
  background-color: #000;
  height: 2px;
  display: block;
  margin: 0 1px;
}

@-webkit-keyframes bar {
  0% {
    height: 4px;
  }
  50% {
    height: 23px;
  }
  100% {
    height: 4px;
  }
}

.background {
            background-image: url("暮色梯田.jpg");
            background-size: cover;
            background-position: 50% 50%;
            height: 200vh;
            font: 900 39rem '';
            line-height: 130vh;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            text-align: center;
            overflow: hidden;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .background::before {
            content: '';
            background-size: cover;
            background-image: inherit;
            background-position: 50% 50%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -99;
        }

        
        h2 {
            position: absolute;
            letter-spacing: 2px;
            top: 120vh;
            width: 60%;
            color: #fff;
            left: 50%;
            transform: translateX(-50%);
            padding: 30px;
            background-color: rgba(0, 0, 0, .3);
        }




